<div id="eop-loader-container">
    <link type="text/css" href="{{ 'stairs.css' | asset_url }}" rel="stylesheet">
    <div class="loader-container">
        <div class="loader">
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__ball"></div>
        </div>
    </div>
</div>
